$web-font-path: 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap';
$font-family-sans-serif: "Noto Sans", serif;
$font-weight-base: 300;
@import "bootswatch/dist/cosmo/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/cosmo/bootswatch";

.btn {
    @extend .rounded, .text-white;

    &.btn-twitter {
        background-color: #1DA1F2;

        &:hover {
            background-color: darken(#1DA1F2, 10%);
        }
    }

    &.btn-linkedin {
        background-color: #0077B5;

        &:hover {
            background-color: darken(#0077B5, 10%);
        }
    }
}

img {
    @extend .img-fluid;
}

h2,
p {
    @extend .mb-3;
}

section {
    padding: 2rem 0;

}

#opiniestukken>hr:last-child {
    display: none;
}

#top {
    img {
        min-height: 300px; // prevent layout shift
    }
}